# Dependencies
node_modules/

# Build output
dist/

# Vite temp files
*.timestamp-*.mjs
vite.config.js.timestamp-*

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# pnpm
.pnpm-store/
node_modules
